.row:nth-child(2n+1) .cell:nth-child(2n+1) {
    background: tan;
}

.row:nth-child(2n+1) .cell:nth-child(2n) {
    background: #eee;
}

.row:nth-child(2n) .cell:nth-child(2n+1) {
    background: #eee;
}

.row:nth-child(2n) .cell:nth-child(2n) {
    background: tan;
}

.legal {
    background: red;
}

.cell {
    height: 70px;
    width: 70px;
    padding: 10px;
    border: 1px solid black;
}

.piece {
    height: 50px;
    width: 50px;
    border: 1px solid black;
}

    .piece.active {
        border: 1px solid purple;
    }

    .piece.Queen .piece.White {
        content: "\2655";
    }

    .piece.Rook .piece.White {
        content: "\2656";
    }

    .piece.Pawn .piece.White {
        content: "\2659";
    }

    .piece.Knight .piece.White {
        content: "\2658";
    }

    .piece.King .piece.White {
        content: "\2654";
    }

    .piece.Bishop .piece.White {
        content: "\2657";
    }

    .piece.Queen .piece.Black {
        content: "\265B";
    }

    .piece.Rook .piece.Black {
        content: "\265C";
    }

    .piece.Pawn .piece.Black {
        content: "\265F";
    }

    .piece.Knight .piece.Black {
        content: "\265E";
    }

    .piece.King .piece.Black {
        content: "\265A";
    }

    .piece.Bishop .piece.Black {
        content: "\265D";
    }
