@using CC.Shared
@code {

    static string fen = "rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1";

    static ChessGame game = new ChessGame();
    string[,] board = game.generateBoard(fen);

    Piece activePiece = null;



    Piece[,] pieceBoard = game.generatePieceBoard(fen);

    public void NewGame ()
    {
        string[,] board = game.generateBoard(fen);



        Piece[,] pieceBoard = game.generatePieceBoard(fen);
    }

}

<h3>ChessBoard</h3>

<input placeholder="Input FEN" @bind="fen"/>
<button @onclick="@NewGame">New Game</button>

@for (int i = 0; i < 8; i++)
{
    <div class="row">
        @for (int j = 0; j < 8; j++)
        {

        <div class="cell">
            @if (board[i, j] != "em")
            {
                var piece = pieceBoard[i, j];
            <div @onclick="() => { activePiece = piece; }" class="piece @piece.Color @(piece == activePiece ? "active": "")">
                @if (piece == activePiece)
                        {
                            <p style="padding: 0px; margin: 0px;">Active</p>
                        }
                <p  style="padding: 0px; margin: 0px;">@piece.Type</p>
            </div>
            }
        </div>
        }
    </div>
}

