@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    //private Data.EngineList chosenEngine = Data.EngineList.StockFish;

    private String nextMove = "";

    //private Data.Engine engine = new Data.Engine();

    [Parameter]
    public int IncrementAmount { get; set; } = 1;

    private void IncrementCount()
    {
        //
        //engine.run();
        //nextMove = engine.query("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR");
        //engine.stop();
        currentCount += IncrementAmount;
    }
}
